/* Estilos para seccion principal */
.mainSection {
  background-color: #202020;
  width: 100%;
}

.bodySection {
  background-color: #101010;
  border-radius: 8px;
  margin: 1rem;
  overflow: auto;
  height: calc(100vh - 2rem);
  color: #fff;
  padding: 2rem 7rem;
}

.main-title {
  font-size: clamp(3rem, calc((100vw - 50vw) * 0.1), 7rem);
  margin-bottom: 1rem;
}

.main-description {
  font-size: 1rem;
  color: #cfcccc;
  padding-bottom: 8rem;
}
