/* Estilos para seccion principal */
.mainSection {
  background-color: #202020;
  width: 100%;
}

.isIntersected {
  box-shadow: 0px 0px 10px rgb(43, 43, 43);
  transition-duration: 0.5s;
}

.bodySection {
  background-color: #101010;
  border-radius: 8px;
  margin: 1rem;
  overflow: auto;
  height: calc(100vh - 2rem);
  color: #fff;
  padding: 2rem 7rem;
}

.bodySection::-webkit-scrollbar {
  width: 0.3rem;
}
.bodySection::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
  border-radius: 16px;
}

.main-title {
  font-size: clamp(3rem, calc((100vw - 50vw) * 0.1), 7rem);
  margin-bottom: 1rem;
}

.main-description {
  font-size: 1rem;
  color: #cfcccc;
  padding-bottom: 8rem;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*  Estilos para responsive design */

@media (max-width: 1024px) {
  .bodySection {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .bodySection {
    padding: 1rem 1rem;
  }
}
