/* About styles */
#about {
  height: 100vh;
  display: flex;
  align-items: center;
}

.about {
  padding: 1rem 1rem;
  border-radius: 16px;
  background: linear-gradient(60deg, #092442, #1e9ec5b4);
  margin: 8rem 0;
}

.about-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0 1rem;
  align-items: center;
}

.about-section > div {
  flex: 1;
}

.about-section > div:last-child {
  text-align: center;
}
@media (max-width: 450px) {
  .about {
    height: auto;
  }
  .about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem 0;
    height: auto;
  }
}

@media (max-width: 1024px) {
  #about {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .about {
    display: grid;
    height: auto;
  }

  .about-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0;
    height: 100%;
  }
}
