/* About styles */
#about {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.about {
  padding: 1rem 1rem;
  border-radius: 16px;
  background: linear-gradient(60deg, #092442, #1e9ec5b4);
  margin: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24rem;
}

.about-section {
  padding: 1rem 0;
  margin: 1rem 0;
  display: flex;
  height: 15rem;
  align-items: center;
}

.about-section > div {
  flex: 1;
}

.about-section > div:last-child {
  text-align: center;
}
