.skills {
  padding: 1rem;
  margin: 7rem 0;
  text-align: center;
  transition-duration: 1s;
  transform: rotateY(90deg);
}

.skills-isIntersected {
  transform: rotateY(0deg);
}

.skills-title {
  margin-bottom: 1rem;
}

.skills-logos {
  text-align: center;
  padding: 1rem;
}
.skills-logos > div {
  padding: 1rem;
}

.observing {
  transform: rotateY(0);
  transition-duration: 1s;
}
