#projects {
  height: 100vh;
  display: flex;
  align-items: center;
}

.projects {
  padding: 1rem 1rem;
  margin-bottom: 8rem;
  background: linear-gradient(
    60deg,
    rgba(36, 69, 219, 0.692),
    rgba(174, 0, 255, 0.466)
  );
  border-radius: 16px;
  width: 100%;
}

.updatesSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.targetUpdate {
  background-color: #191919;
  flex: 1;
  margin: 8px;
  height: 10rem;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.targetUpdate:hover {
  box-shadow: 0px 0px 3px #000;
}
