#projects {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.projects {
  position: absolute;
  right: 100%;
  padding: 1rem 1rem;
  margin-bottom: 8rem;
  background: linear-gradient(
    60deg,
    rgba(36, 69, 219, 0.692),
    rgba(174, 0, 255, 0.466)
  );
  border-radius: 16px;
  width: 100%;
  transition-duration: 1s;
}

.projects-isIntersected {
  transition-duration: 1s;
  right: 0;
}

.updatesSection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  height: 15rem;
}

.targetUpdate {
  background-color: #191919;
  flex: 1;
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.targetUpdate:hover {
  box-shadow: 0px 0px 3px #000;
}

@media (max-width: 1024px) {
  .updatesSection {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media (max-width: 768px) {
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .updatesSection {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
@media (max-width: 450px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr;
  }

  .updatesSection {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    height: auto;
  }
}
